.partner-logos {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Source Sans Pro", Arial !important;
}

.partner-title {
  box-sizing: border-box;
  clear: both;
  color: rgb(32, 10, 88);
  display: block;
  font-size: 37px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  height: 40.7px;
  border-bottom: 1px solid #ddd;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

.partner-description {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 72px;
  text-align: left;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 20px;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}

.logo-item {
  width: 100%;
  max-width: 250px;
}

.logo-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
