<style>
  .text-design h2 {
    color: #200a58;
    font-size: 37px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
  }

  .text-design h3 {
    color: #200a58;
    font-size: 21px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    padding-bottom: 2px;
    padding-top: 0;
    border-bottom: 1px solid #ddd;
  }
</style>
<div class="section" style="background: white">
  <div class="container text-design" style="display: block !important">
    {{ .Inner }}
  </div>
</div>
